<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<ul>
        <p th:text="${title}"></p>
</ul>
<div>
    <hr>
    <p th:text="${cars[0].name}">Nothing</p>
    <p th:text="${cars[0].series}">Nothing</p>
    <hr>
    <p th:text="${cars[1].name}">Nothing</p>
    <p th:text="${cars[1].series}">Nothing</p>
    <hr>
    <p th:text="${cars[2].name}">Nothing</p>
    <p th:text="${cars[2].series}">Nothing</p>
</div>

</body>
</html>